body{
    font-family: Arial;
    text-align:center;
    margin-top:80px;
}
.box{
    display:inline-block;
    padding:20px 40px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}
button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}
h1{
    font-size:50px;
}


/* second */

body{
    font-family: Arial;
    display:flex;
    justify-content:center;
    margin-top:100px;
}
.container{
    padding:30px;
    box-shadow:0 0 10px gray;
    border-radius:10px;
}
input{
    padding:8px;
    width:200px;
}


/* thrid */


body{
    font-family: Arial;
    text-align:center;
    margin-top:70px;
}
.box{
    display:inline-block;
    padding:20px 40px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}
input{
    padding:8px;
    width:150px;
}
