body{
    font-family: Arial;
    text-align:center;
    margin-top:80px;
}
.box{
    display:inline-block;
    padding:20px 40px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}
button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}
h1{
    font-size:50px;
}


/* second project .......*/
body{
    font-family: Arial;
    display:flex;
    justify-content:center;
    margin-top:100px;
}

.container{
    padding:30px;
    box-shadow:0 0 10px gray;
    border-radius:10px;
}

.password-box{
    position: relative;
}

input{
    padding:8px 35px 8px 8px;
    width:200px;
}

#icon{
    position:absolute;
    right:10px;
    top:8px;
    cursor:pointer;
    font-size:18px;
}


