body{
    font-family: sans-serif;
    background:#f1f1f1;
}

.box{
    background:white;
    width:350px;
    margin:40px auto;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
}

button{
    margin:5px;
    padding:8px 15px;
    border:none;
    background:greenyellow;
    color:rgb(22, 14, 14);
    cursor:pointer;
    border-radius: 10px;
}

input{
    width:90%;
    padding:8px;
    margin:6px 0;
}

.password-wrap{
    position:relative;
}

.password-wrap span{
    position:absolute;
    right:15px;
    top:12px;
    cursor:pointer;
    font-size:12px;
    color:#555;
}

.green{color:green;}
.red{color:red;}
